[View in Colaboratory](https://colab.research.google.com/github/wo1ever/TIL/blob/master/%EC%95%88%EC%84%B8%EC%98%81_shuffle.ipynb)

## 7월 5일 과제
### 제출: 11일 저녁까지
- 파이썬 자습서 3, 4, 5장을 꼼꼼하게 읽기

- 리스트를 인자로 받아 리스트의 원소를 임의의 순서로 섞은 새 리스트를 반환하는 함수를 서로다른 세 가지 방식으로 구현하기.

- 각 함수의 작동방식과 장단점을 설명하는 Colab 노트북 만들기.

In [0]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a

import math

In [79]:
import random

def shuffle0(data):
  copied_data = data[:]
  random.shuffle(copied_data)
  return copied_data

print(a)
print(shuffle0(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 5, 4, 1, 6, 8, 2, 3, 10, 7]

In [80]:
def shuffle1(data):
  n = len(data)
  shuffled_data = data[:]
  return random.sample(shuffled_data, n)

print(a)
print(shuffle1(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 2, 1, 10, 4, 5, 3, 6, 8, 7]

In [81]:
def shuffle2(data):
  n = len(data)
  
  shuffled_data = data[:]
  
  for i in range(20):
    random_index = random.randint(0,n-1)  
  
    random_index2 = random.randint(0,n-1)
  
    value = shuffled_data.pop(random_index)
  
    shuffled_data.insert(random_index2,value)
  
  return shuffled_data

print(a)
print(shuffle2(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 9, 5, 6, 10, 8, 7, 1, 2, 3]




### 리스트의 다양한 함수들 연습

In [0]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a.append(4)    # 리스트의 맨 마지막에 '4'를 삽입해라.

a.index(3)    # '3' 이 나오는 값의 인덱스를 리턴하라.

a.insert(0, 4)    # a[0] 자리에 '4'를 삽입하라.

a.remove(7)    # 리스트에서 첫 번째로 나오는 '7'을 삭제하라.

a.pop()    # 리스트의 맨 마지막 요소를 리턴한 후 삭제.

a.pop(1)    # 리스트의 a[1]번째 요소를 돌려주고 삭제.

a.extend([11,  12, 13])    # 원래 리스트 뒤로 새로운 리스트를 이어붙임
                           # a += [11, 12, 13] 과 같음

del a[5]    # 리스트의 a[5]인덱스를 삭제함